# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Build directories
*/build*/**

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Resharper C++ Files
.idea/*
*.user

#clion generation files
*/.vs/*
.vs/*
CMakeSettings.json
Folder.DotSettings.user
[Bb]uild/*
cmake-build-debug/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
out/*
web_build/*

# glsl validator temp files
/scripts/validator/__pycache__/*

# log files
/data/logs/*
 
# log files
/tmp
  